<!-- <div class="container-fluid p-3 my-3 bg-primary text-white">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Choose File</h3>
            <div class="form-group">
                <input type="file" name="image" (change)="fileProgress($event)" />
            </div>
            <div *ngIf="fileUploadProgress">
                Upload progress: {{ fileUploadProgress }}
            </div>
            <div class="image-preview mb-3" *ngIf="previewUrl">
                <img [src]="previewUrl" height="300" />
            </div>

            <div class="mb-3" *ngIf="uploadedFilePath">
                {{uploadedFilePath}}
            </div>

            <div class="form-group">
                <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron">
    <div class="container">

        <p> Upload your pictures here!</p>

        <img src="../../assets/images/portraits/men/0.jpg" class="user-picture">
        <img src="../../assets/images/portraits/men/1.jpg" class="user-picture">
        <img src="../../assets/images/portraits/men/2.jpg" class="user-picture">
        <img src="../../assets/images/portraits/men/3.jpg" class="user-picture">



    </div>
</div> -->

<!-- <h1>Add profile pictures</h1>

<input type="file" (change)="onFileSelected($event)">

<button type="button" (click)="onUpload()">Upload</button> -->

<label class="image-upload-container btn btn-bwm">
    <span>Select image</span>
    <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
</label>




<div *ngIf="selectedImage" class="img-preview-container">
    <!-- <div class="img-preview" [ngStyle]="{'background-image': 'url(' + selectedImage.src + ')'}"></div> -->
    <img class="img-preview" [src]=getSantizeUrl(selectedImage.src) />
</div>

<!-- <button *ngIf="selectedImage" (click)="uploadImage()">Upload</button> -->

<!-- <ngx-image-editor [config]="yourConfig"></ngx-image-editor> -->
<!-- <ngx-image-editor [config]="config" (close)="close($event)" (file)="getEditedFile($event)">
</ngx-image-editor> -->