<!-- <div class="row">
    <div class="column">
        <img src="img1.jpg" onclick="" class="hover-shadow">
    </div>
    <div class="column">
        <img src="img2.jpg" onclick="" class="hover-shadow">
    </div>
    <div class="column">
        <img src="img3.jpg" onclick="" class="hover-shadow">
    </div>
    <div class="column">
        <img src="img4.jpg" onclick="" class="hover-shadow">
    </div>
</div>


<div *ngIf="displayedUser" class="img-preview-container">
    <img class="img-preview" [src]=getSantizeUrl(matches.img.src) />
    <h1>{{displayedUser?.name}}, {{age}}</h1>
</div> -->

<div *ngFor="let i of matches" class="row">

    <div class="column">
        <img class="img-preview" [src]=getSantizeUrl(matches[i].img.src) />
    </div>


</div>