<!-- <div id="logreg-forms">
<form class="form-signin" ng-submit=signUp()>
    <div class="social-login">
        <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>
        <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>
    </div>
    
    <p style="text-align:center">OR</p>

    <input type="text" id="user-name" class="form-control" placeholder="Full name" required="" autofocus="">
    <input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
    <input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
    <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required autofocus="">

    <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
    <a href="#" id="cancel_signup" (click)="backToSignIn()"><i class="fas fa-angle-left"></i> Back</a>
</form>
</div> -->




<!-- <div id="logreg-forms">

    <form class="form-group" ng-submit=signUp() #signUpForm="ngForm">
        <div class="social-login">
            <button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in
                    with Facebook</span> </button>
            <button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in
                    with Google+</span> </button>
        </div>

        <p style="text-align:center">OR</p>


        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">


        <input type="text" id="user-name" class="form-control" placeholder="Full name" required>
        <input type="email" id="user-email" class="form-control" placeholder="Email address" required>
        <input type="password" id="user-pass" class="form-control" placeholder="Password" required>
        <input type="password" id="user-repeatpass" class="form-control" placeholder="Repeat Password" required>

        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up</button>
        <a href="#" id="cancel_signup" (click)="backToSignIn()"><i class="fas fa-angle-left"></i> Back</a>
    </form>
</div> -->



<form #signUpForm = "ngForm" (ngSubmit) = "signUp(signUpForm.value)" >
    <input type = "text" name = "emailid" placeholder = "emailid" ngModel required>
    <br/>
    <input type = "password" name = "passwd" placeholder = "passwd" ngModel required>
    <br/>
    <input type = "submit" value = "submit">
 </form>