<div class="container">
    <div class="card">
        <div class="top-nav">
            <div class="front">
                <h1 class="white-text">Name</h1>
                <button class="btn white-text">Profile

                </button>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['./profile-detail']">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['./profile-pictures']">Pictures</a>
                    </li>
                </ul>

            </div>
        </div>

        <div class="top-nav">
            <router-outlet>
            </router-outlet>
        </div>

    </div>
    <!-- <div class="card-info">
            <button class="btnplus"><i class="fa fa-plus"></i></button>
            <button class="btn-c"><i class="fa fa-angle-down"></i></button>
            <h1>Luvya</h1>
            <p class="web">Web-Test</p>
            <hr>
            <div class="follow">
                <div class="followers white-text">
                    <span>Follower</span>
                    <p>test123</p>
                </div>
                <div class="following white-text">
                    <span>Folowing</span>
                    <p>test123</p>
                </div>
            </div>
        </div> -->