.bd-example-container-body {
  height: 8rem;
  margin-right: 4.5rem;
  background-color: #957bbe;
  border-radius: 0.25rem;
}

.bd-example-container-sidebar {
  float: right;
  width: 4rem;
  height: 8rem;
  background-color: #80bdff;
  border-radius: 0.25rem;
}

.jumbotron {
  background-color: royalblue;
  height: 100vh;
  //   height: 500px;
  //   width: 400px;
}

.user-picture {
  height: 100px;
  width: 100px;
}
