<h2 mat-dialog-title>{{description}} {{matchedWithUser.name}}!</h2>


<!-- <mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Course Description" formControlName="description">
    </mat-form-field>
</mat-dialog-content> -->

<!-- <div mat-card-avatar class="nav-header-image" [style.background-image]="userImage"></div> -->




<!-- <div class="modal-dialog" style="max-width: 350px">
    <div class="modal-content">
        <div class="modal-body">
            <img class="img-responsive" [src]=getSantizeUrl(matchedWithUser.img.src) />
        </div>
    </div>
</div> -->

<!-- <img class="img-responsive" [src]=getSantizeUrl(user.img.src) />
<img class="img-responsive" [src]=getSantizeUrl(matchedWithUser.img.src) /> -->

<div class="row">
    <div class="column">
        <img class="resize" [src]=getSantizeUrl(user.img.src)>
    </div>
    <div class="column">
        <img src="../../assets/images/logo_only_small.png" class="center" alt="Luvya">
    </div>
    <div class="column">
        <img class="resize" [src]=getSantizeUrl(matchedWithUser.img.src)>
    </div>
</div>



<!-- <img class="img-preview center" [src]=getSantizeUrl(matchedWithUser.img.src) /> -->

<div>
    <mat-dialog-actions>
        <button class="mat-raised-button" (click)="goToChat()">Chat with {{matchedWithUser.name}}</button>
        <button class="mat-raised-button mat-primary matDiaLogClose" (click)="close()">Continue swiping</button>
    </mat-dialog-actions>
</div>

<!-- <button class="mat-raised-button" (click)="close()">Close</button>
    <button class="mat-raised-button mat-primary" (click)="save()">Save</button> -->